# Allwinner bsp modules will fail to link if spinlock is inlined
# Set CONFIG_PREEMPT=y to select PREEMPTION, which disables inline spinlock
CONFIG_PREEMPT_VOLUNTARY=n
CONFIG_PREEMPT=y

# Allwinner bsp supplies CONFIG_AW_CPUFREQ_DT
# Regular CONFIG_CPUFREQ_DT will break boot
CONFIG_CPUFREQ_DT=n

# Allwinner has their own panfrost fork
CONFIG_DRM_PANFROST=n
